@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1579548122080-c35fd6820ecb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80');
  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.coin-box {
  position: relative;
  width: 100%;
  height: 12rem;
  max-width: 12rem;
  margin-bottom: 2rem;
}

.coin-box .coin {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  height: 12rem;
  width: 12rem;
  z-index: 1;
}

.coin.heads.flip {
  animation: flip-head 0.28s linear 0s infinite alternate;
}

.coin.tails.flip {
  animation: flip-tail 0.28s linear 0s infinite alternate;
}

.coin.winning-coin {
  z-index: 5
}

#game-winner {
  margin-bottom: 1rem;
}

.game-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  background-color: rgba(18, 19, 140, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 1rem;
  width: 100%;
  max-width: 25rem;
}

#game-setting {
  width: 100%;
  max-width: 15.8rem;
  margin: 0 auto;
}

#game-setting .form-input {
  padding: 0.8rem 1rem;
  appearance: none;
  width: 100%;
  border: 2px solid #d1d1d1;
  border-radius: 0.5rem;
}

.game-score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.score-box {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(4, 4, 50, 0.9);
  border-radius: 0.5rem;
  min-width: 5rem;
}

.score-box .score-counter {
  font-size: 2rem;
  font-weight: 700;
}

.game-controls {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 2rem;
  margin: 0 -0.5rem;
}

.game-control-btn {
  padding: 0.8rem 2rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s;
}

.game-control-btn:hover {
  background-color: rgba(52, 143, 194, 1);
  border: 2px solid rgba(52, 143, 194, 1);
}


@keyframes flip-head {
  0%, 100% { transform: rotateX(0deg); }
  50% { transform: rotateX(180deg); }
}

@keyframes flip-tail {
  0%, 100% { transform: rotateX(180deg); }
  50% { transform: rotateX(0deg); }
}

/*
https://codepen.io/mlhaufe/pen/vOQyYb
*/