@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.coin-box {
  position: relative;
  width: 100%;
  height: 12rem;
  max-width: 12rem;
  margin-bottom: 2rem;
}

.coin-box .coin {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  height: 12rem;
  width: 12rem;
  z-index: 1;
}

.coin.heads.flip {
  animation: flip-head 0.28s linear 0s infinite alternate;
}

.coin.tails.flip {
  animation: flip-tail 0.28s linear 0s infinite alternate;
}

.coin.winning-coin {
  z-index: 5
}

#game-winner {
  margin-bottom: 1rem;
}

.game-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  border: 2px solid #d1d1d1;
  border-radius: 1rem;
  width: 100%;
  max-width: 25rem;
}

#game-setting {
  width: 100%;
  max-width: 15.8rem;
  margin: 0 auto;
}

#game-setting .form-input {
  padding: 0.8rem 1rem;
  appearance: none;
  width: 100%;
  border: 2px solid #d1d1d1;
  border-radius: 0.5rem;
}

.game-score {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.score-box {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score-box .score-counter {
  font-size: 2rem;
  font-weight: 700;
}

.game-control-btn {
  padding: 0.8rem 2rem;
  border: 2px solid #d1d1d1;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0 0.5rem;
}


@keyframes flip-head {
  0%, 100% { transform: rotateX(0deg); }
  50% { transform: rotateX(180deg); }
}

@keyframes flip-tail {
  0%, 100% { transform: rotateX(180deg); }
  50% { transform: rotateX(0deg); }
}

/*
https://codepen.io/mlhaufe/pen/vOQyYb
*/